<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Escambo</title>
    <link rel="icon" type="image/x-icon" href="icone.png">
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="css/site.css">
    <link rel="stylesheet" type="text/css" href="css/cores.css">
</head>

<body>
    <div>
        <form action="" class="col-12 col-md-6 m-auto bg-white p-5">
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <span class="d-flex justify-content-between"><label>Senha</label> <i>esqueceu senha!</i></span>
                <input type="password" class="form-control">
            </div>
        </form>
    </div>

</body>

</html>